*{
    font-size: 20px;
}
body{
    background-color: rgb(228, 228, 255);
}
.container{
    border: 1px solid;
    border-radius: 10%;
    background-color: rgb(193, 193, 255);
    padding: 20px;
    margin: 10% auto;
    max-width: fit-content; 
    width: 100%;
}

.Todos{
    list-style-type: none;
    margin: 10px -40px;
}
